/* Color/Font/Global References
: # 
: # 
: #
*/

/* GLOBAL CSS */
.header {
    background-color: black;
}
body { 
    background: url("../img/ball.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .image {
    margin: auto;
    padding: 10px;
  }

  .welcome {
    background: transparent;
    color: rgb(247, 247, 247);
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
}

.instructions {
    background: transparent;
    color: rgb(247, 247, 247);
    margin: 20px;
    margin-top: 75px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
}

.dropdown {
    text-align: center;
}

h6 {
    font-size: 30px;
}

.centered {
    text-align: center;
}

.semi-transparent {
    background:rgba(104, 103, 103, 0.461);
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer {
    background-color: black;
    color: grey;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.footerText {
    padding-top: 10px;
}

.audio {
    margin-top: 20px;
}

