/* Color/Font/Global References
: #1898d4 (Ticketmaster Blue)
: #0a0a0a (HoopHype Black)
: #fdf5e6 (Old Lace White)
*/

/* GLOBAL CSS */
body { 
    background: url("../img/ball.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.header {
    background-color: #0a0a0a;
}

.footer {
    background-color: #0a0a0a;
    color: grey;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.espnImage {
    padding-top: 10px;
}

h6 {
    font-size: 30px;
    color: #fdf5e6;
}

p {
    padding: 0 10px 0 10px;
    color: #fdf5e6;
}

.centered {
    text-align: center;
}

.semi-transparent {
    background:rgba(104, 103, 103, 0.461) !important;
    padding-top: 10px;
    padding-bottom: 30px;
}

/************************************************************************/
/* LANDING PAGE */
.welcome {
    background: transparent;
    color: rgb(247, 247, 247);
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    padding-bottom: 1px;
}

#start {
    margin-bottom: 20px;
}

/************************************************************************/
/* TEAM PAGE */
.instructions {
    background: transparent;
    color: rgb(247, 247, 247);
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
}

.dropdown {
    text-align: center;
}

.audio {
    margin-top: 20px;
}

/************************************************************************/
/* GAME PAGE */
.ranked {
    background: transparent;
    color: rgb(247, 247, 247);
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
}

.test {
   /* background-color: red; */
}

.card {
    margin: 5px 40px 5px 40px;
    background-color: #0a0a0a;
}

.card-header {
    background-color: tan;
    border: 1px solid red;
}

.card-body {
    background-color: tan;
    border: 1px solid green;
}





